/*
 *这是单独为hello mui准备的个性化css，可以覆盖标准mui的css定义；
 * 在实际项目开发时，建议为App单独写一个css文件，从而实现项目的自定义皮肤功能；
 * 
 * */
html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.css {
   -webkit-transform: translate3d(0, 0, 0);
   -moz-transform: translate3d(0, 0, 0);
   -ms-transform: translate3d(0, 0, 0);
   transform: translate3d(0, 0, 0);
}
a,button,input,textarea{-webkit-tap-highlight-color: rgba(0,0,0,0)}
.mui-android header.mui-bar{
	display: none;
}
.mui-android .mui-bar-nav~.mui-content{
	padding: 0;
}
.grey{
	color: #9C9C9C;
}
* {
	margin: 0;
	padding: 0;
	font-family: "微软雅黑";
}
body{
	background-color: #efeff4;
	-webkit-overflow-scrolling: touch;
}
header {
	height: 44px;
	line-height: 44px;
	color: #fff;
	background-color: #44BDED;
	text-align: center;
}
header>#top-right,
#top-left {
	background-color: #44BDED;
}
#top-left{
				position: absolute;
				width: 15%;
				margin-left: -50%;
				z-index: 1;
			}
#top-left{
				position: absolute;
				width: 15%;
				margin-right: -50%;
				z-index: 1;
			}
header #top-right img{
	width: 20px;
	margin: 10px 3%;
}
h1 {
	background-color: #44BDED;
}
.mui-title {
	color: #fff;
	font-size: 20px;
	z-index: 10;
}
.mui-pull-right {
	height: 44px;
	line-height: 44px;
	position: absolute;
	right: 0;
	width: 20%;
	text-align: right;
	z-index: 2;
	padding-right: 2%;
}
a {
	color: #fff;
	/*background-color: #44BDED;*/
}
header #title {
	background-color: #44BDED;
	font-size: 20px;
}
#next {
	float: right;
	margin-right: 5%;
	margin-top: -35px;
	font-size: 15px;
	color: #fff;
	background-color: #44BDED;
}
#back {
	width: 50px;
	float: left;
	margin-left: 5%;
	margin-top: -35px;
	font-size: 15px;
	color: #fff;
	background-color: #44BDED;
}
.container form {
	margin-top: 100px;
}
.container form input {
	text-align: center;
	font-family: simhei;
	margin-bottom: -1px;
}
input[type=submit] {
	border: #60CF5F;
	background-color: #60CF5F;
}
.submit {
	margin-top: 20px;
	width: 90%;
	margin-left: 5%;
	text-align: center;
	height: 35px;
	line-height: 35px;
	color: #fff;
	border-radius: 5px;
}
footer {
	margin-top: 20px;
	color: #9c9c9c;
}
#register {
	margin-left: 30%;
}
#forget {
	float: right;
	margin-right: 20%;
}
a:link,
:visited {
	color: #9c9c9c;
}
.mui-input-row,
label {
	background-color: #fff;
}
.sendmessage {
	width: 100px;
	text-align: center;
	height: 30px;
	line-height: 30px;
	position: absolute;
	margin: 5px 35%;
	color: #fff;
	border-radius: 5px;
	background-color: #60CF5F;
}
.mui-table-view-cell .headimg img {
	width: 20%;
	border-radius: 5px;
	float: left;
	margin-right: 20px;
}
.username {
	font-size: 20px;
	margin-bottom: 3px;
	background-color: #fff;
}
.userdetail {
	margin-bottom: 3px;
	/*background-color: #fff;*/
}
.userbrief {
	font-size: 13px;
	color: #9C9C9C;
	background-color: #fff;
}
.mui-content .userdetail span {
	font-size: 13px;
	margin-right: 5px;
	padding: 0 5px;
	color: #fff;
	border-radius: 3px;
}
#sex_age {
	background-color: #44BDED;
}
#tennis_age {
	background-color: goldenrod;
}
#level {
	background-color: #4CD964;
}
#payway{
	background-color: #95B8ED;
}
#train_type{
	background-color:#0072A7
}
#train_way{
	background-color:#FD2F53
}
.mui-input-row {
	line-height: 40px;
}
.mui-input-row label {
	text-indent: 1em;
}
.mui-form-row {
	width: 100%;
	height: 45px;
	line-height: 44px;
	padding-left: 15px;
	border-bottom: 1px solid #FFFFFF;
}
.sex,
.birthday,
.tennisAge,
.level,
.issecret {
	display: inline-block;
	background-color: #EFEFF4;
	width: 30%;
	text-indent: 1em;
}
.mui-form-row .mui-btn {
	width: 80px;
	font-size: 13px;
	margin-top: 6px;
}
#sex-woman,
#isSecret {
	margin-left: -5px;
	border-radius: 0 5px 5px 0;
}
#sex-man,
#isPublic {
	background-color: #44BDED;
	border-color: #44BDED;
	color: #FFFFFF;
	border-radius: 5px 0 0 5px;
}
.mui-tennisAge {
	height: 40px;
}
#pickTennisAge select {
	width: 65%;
	background-color: #EFEFF4;
	font-family: "微软雅黑";
}
#picklevel select {
	width: 65%;
	background-color: #EFEFF4;
	font-family: "微软雅黑";
}
.userInfo {
	background-color: #fff;
}
.userInfo .datetime,
span {
	/*background-color: #fff;*/
}
.userInfo .datetime span {
	color: #9C9C9C;
	padding: 0;
}
.mui-tab-item img {
	width: 15px;
}
.mui-bar-tab{
	background-color: #44BDED;
}
.mui-bar-tab span{
	color: #fff;
}
.mui-bar-nav #sift{
	height: 90px;
	background-color:#44BDED ;
	padding-top: 45px;
}
.sift-content{
	width: 94%;
	margin:0 3% ;
	background-color: #0072A7;
}
.sift-content span{
	float: left;
	display: inline-block;
	width: 50%;
	height: 35px;
	line-height: 35px;
	text-align: center;
	color: #fff;
}
#nearby{
	border-radius:5px 0 0 5px;
	border: 1.5px solid #0072A7;
}
#time{
	border-radius: 0 5px 5px 0;
	border: 1.5px solid #0072A7;
	background-color:#44BDED ;
}
.mui-input-row{
	border-bottom: 1px solid #EFEFF4;
}
.mui-input-row label{
	background-color: #fff;
}
.mui-table-view-cell .mui-btn{
	margin: 10px 5px;
	width: 50px;
}
.mui-table-view-cell .mui-btn:nth-child(1){
	position:static;
	margin-left: 50px;
}
.mui-table-view-cell .mui-btn:nth-child(2){
	position:static;
}
.mui-table-view-cell .mui-btn:nth-child(3){
	position:static;
}
.sift_list{
	padding-left: 5%;
	display: none;
}
.oa-contact-cell.mui-table .mui-table-cell {
				padding: 11px 0;
				vertical-align: middle;
			}
			
			.oa-contact-cell {
				position: relative;
				margin: -11px 0;
			}
	
			.oa-contact-avatar {
				width: 75px;
			}
			.oa-contact-avatar img {
				border-radius: 10px;
				width: 60px;
			}
			.oa-contact-content {
				width: 100%;
			}
			.oa-contact-name {
				margin-right: 20px;
			}
			.oa-contact-name{
				float: left;
			}
			.oa-contact-position{
	            float: right;
	            margin-right: 5%;
            }
            .oa-contact-brief{
            	white-space: nowrap;
            	overflow: hidden;
            	text-overflow: ellipsis;
            	max-width: 70%;
            }
.w1{
	width: 10%;
}
.w2{
	width: 20%;
}
.w3{
	width: 30%;
}
.w4{
	width: 40%;
}
.w5{
	width: 50%;
}
.w6{
	width: 60%;
}
.w7{
	width: 70%;
}
.w8{
	width: 80%;
}
.w9{
	width: 90%;
}
.w10{
	width: 100%;
}
.w10 button{
	font-size: 18px;
            	width: 90%;
            	margin: 10px 5%;
            	height: 40px;
            	color: #fff;
            	border-color: #60CF5F;
            	background-color: #60CF5F;
            	border-radius: 5px;
    }
.he5{
	height: 5px;
}
.he10{
    	height: 10px;
    }
.he15{
	height: 15px;
}
.he20{
    	height: 20px;
    }
    
.title1{
	font-size: 16px;
	color: #333;
}
.black{
	color: #333;
}
.pricecolor{
	color: #f6be8f;
}
.boxsh{
	box-shadow: 0 1px 6px #ccc;
}
.ellipsis{
	display: inline-block;
	max-width: 65%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.telimg{
	float: right;
	margin-right: 0;
}
.telimg img{
	width: 20px;
}
